/* Background and Page Design */
.app {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f7fc; 
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Control Field */
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Filtering and Page Size Options */
input[type='text'] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 40%;
  font-size: 1rem;
}

select {
  padding: 10px;
  margin-left: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

/* Table Design */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff; /* Table background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* Tablo shadow */
  border-radius: 8px;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px 15px;
  text-align: left;
  font-size: 1rem;
}

th {
  background-color: #1873c9;
  color: white;
  cursor: pointer;
}

th:hover {
  background-color: #0056b3;
}

th:nth-child(1), td:nth-child(1) {
  width: 40%;
}

th:nth-child(2), td:nth-child(2) {
  width: 30%;
}

th:nth-child(3), td:nth-child(3) {
  width: 30%;
}

.clickable-row:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.pagination button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3;
}

/* Choosen Character Details */
.character-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.character-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.character-details h2 {
  font-size: 1.5rem;
  color: #007bff;
}

.character-details p {
  font-size: 1rem;
  color: #555;
}

.error-message {
  color: #e74c3c;
  font-size: 1.2rem;
  text-align: center;
}
